.adminheader {
  color: #1080a7;
}

.adminheader a {
  color: black;
}

.adminheader .btn-back-to-admin {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.adminheader .btn-back-to-admin span {
  font-weight: bold;
  font-size: 1.3rem;
}

.adminheader h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.adminheader h2 {
  background: #1080a7;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.bannercarrouselmobile {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bannercarrouselmobile .img-background {
  height: auto;
  position: absolute;
  transform: translateY(-100px);
  width: 100%;
  z-index: -1 !important;
  transition: all 600ms;
}

.bannercarrouselmobile .img-background.hideElements {
  opacity: 0;
}

.bannercarrouselmobile .logo-container {
  left: 2rem;
  position: absolute;
  top: 1rem;
  transition: all 400ms;
  z-index: 1;
}

.bannercarrouselmobile .logo-container.hideElements {
  opacity: 0;
  transform: translate(100px, 3px);
}

.bannercarrouselmobile .logo-container .img-logo {
  animation: animate-logo 4s alternate infinite;
  height: 150px;
  width: auto;
}

@keyframes animate-logo {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

.burger {
  height: 25px;
  width: 35px;
  position: relative;
}

.burger .line {
  border-radius: 1rem;
  height: 6px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.burger .line2 {
  top: 9px;
}

.burger .line3 {
  top: 18px;
}

.burger .line1,
.burger .line3 {
  transition: all 300ms ease-out;
}

.burger .line2 {
  transition: all 200ms ease-out;
}

.burger .line1.burger-active {
  transform: rotate(-45deg);
  top: 9px;
}

.burger .line3.burger-active {
  transform: rotate(45deg);
  top: 9px;
}

.burger .line2.burger-active {
  transform: translateX(-30px);
  opacity: 0;
}

.burger:hover .line1,
.burger:hover .line2,
.burger:hover .line3 {
  background: #1080a7;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0);
  background: #e3e3e3;
  text-align: center;
  padding: 0.3rem 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  user-select: none;
  transition: all 100ms;
}

.btn:hover {
  filter: brightness(90%);
}

.btn:active {
  transform: translate(1px, 1px);
}

.btn-primary {
  background-color: #1080a7;
  color: white;
}

.btn-secondary {
  background-color: #c5c1a4;
  color: black;
}

.btn-tertiary {
  background-color: #ed2f59;
  color: #ffffff;
}

.btn-white {
  background: white;
  color: #1080a7;
}

.btn-carrousel:hover {
  background-color: #ed2f59;
}

.btn-add-cart {
  align-items: center;
  background: #1080a7;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.btn-add-cart img {
  width: 1.3rem;
}

.carrousel {
  display: grid;
  grid-template-columns: 35px auto 35px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.carrousel .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-width: 250px;
  padding: 1rem 0;
}

.carrousel .button-right {
  transform: rotate(180deg);
}

.carrousel .c-arrow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-arrow {
  height: 1rem;
  position: relative;
  overflow: hidden;
  width: 2rem;
}

.c-arrow-item {
  height: 1rem;
  width: 1rem;
  position: absolute;
  bottom: 0;
  background: #1080a7;
  transform: rotate(45deg) translate(8px, 8px);
  cursor: pointer;
}

.c-arrow-item:hover {
  background: #ed2f59;
}

.carticon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.carticon-img {
  width: 1.5rem;
}

.cart-count {
  background: #1080a7;
  color: white;
  line-height: 0.8rem;
  text-align: center;
  padding: 0.1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  transform: translate(0.6rem, -0.6rem);
}

.catalogitem {
  border: 2px solid #ffffff;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  transition: transform 50ms ease-in-out;
  width: 320px;
}

.catalogitem:hover {
  transform: scale(1.01);
}

.catalogitem .image {
  box-shadow: 1px 1px 5px gray;
  height: 180px;
  position: absolute;
  width: 150px;
  z-index: 0;
}

.catalogitem .index {
  background: #444444;
  color: white;
  font-size: 0.8rem;
  left: 0;
  padding: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  width: 60px;
}

.catalogitem .details {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  justify-self: flex-end;
  margin-bottom: 0.3rem;
  text-align: right;
  width: 150px;
  z-index: 1;
}

.catalogitem .details .info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  margin-right: 12px;
  margin-top: 12px;
}

.catalogitem .details .info > .info-title {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  max-height: 35px;
  overflow: hidden;
}

.catalogitem .details .info > .info-weight {
  color: #1080a7;
  margin-bottom: 1rem;
  margin-bottom: auto;
}

.catalogitem .details .info > .info-description {
  font-size: 0.8rem;
  height: 50px;
  line-height: 0.8rem;
  overflow: hidden;
  color: gray;
}

.catalogitem .details .info > .info-description::first-letter {
  text-transform: capitalize;
}

.catalogitem .details > .price {
  font-weight: bold;
  font-size: 1.3rem;
  color: #888;
  margin-right: 12px;
}

.catalogitem .details > .btn-add-cart {
  display: flex;
  gap: 0.2rem;
  justify-self: flex-end;
  align-self: flex-end;
}

.footer {
  align-items: center;
  background-color: #1080a7;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer .stripe {
  background: #084054;
  height: 30px;
  width: 100%;
}

.footer .title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.footer sup {
  font-size: 0.8rem;
  position: relative;
  left: -0.2rem;
}

.footer .links {
  line-height: 2rem;
  text-align: center;
}

.footer .links li {
  transition: background-color 120ms;
  padding: 0 0.5rem;
}

.footer .links a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: left;
}

.footer .links li:hover {
  background-color: #ed2f59;
}

.footer .social-media {
  color: white;
  margin: 1rem 0;
}

.footer hr {
  border: 1px dashed white;
  margin: 1rem 0;
  width: 85%;
}

.footer .email-message {
  font-size: 1.2rem;
  font-style: italic;
  margin: 1rem;
  text-align: center;
}

.footer .email {
  margin: 1rem 0;
  display: flex;
  height: 1.5rem;
  align-items: stretch;
}

.footer .email input[type="email"] {
  border: none;
}

.footer .email button {
  background-color: #ed2f59;
  color: white;
  border: none;
}

.footer .bottom {
  background-color: #0b5a75;
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 100%;
}

.footer .bottom .copyright {
  margin: 1rem;
  color: #88c0d3;
}

.footer .bottom .site-map {
  margin: 1rem;
}

.footer .bottom .carreer {
  margin: 1rem;
}

.header {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 600px;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu .selected {
  color: #ed2f59 !important;
}

@media all and (max-width: 600px) {
  .menu {
    display: none;
  }
}

.menumobile-protected-space {
  height: 15px;
  width: 300px;
}

.menumobile {
  align-items: center;
  background: #063343;
  display: flex;
  height: 45px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.menumobile .logo {
  margin-left: 1rem;
}

.menumobile a {
  height: 20px;
}

.menumobile img {
  height: 100%;
}

.menumobile .menumobile-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.menumobile .menumobile-icons a {
  color: white;
}

.menumobile .menumobile-icons-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menumobile .menumobile-icons-item .logo-contactus {
  width: 1rem;
}

.menumobile .currentUser {
  color: #f697ac;
  font-style: italic;
  justify-self: flex-end;
  margin-right: 1rem;
}

.menumobile .burger {
  justify-self: flex-end;
}

@media screen and (max-width: 425px) {
  .menumobile .contact {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menumobile .icons-center {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menumobile .icons-right {
    border: 1px solid green;
    display: none;
  }
}

.menuoptions {
  background: #484748;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 35px;
  transform: translateX(100%);
  transition: 200ms ease-out;
  width: 180px;
}

.menuoptions li {
  align-items: center;
  transition: background-color 200ms;
}

.menuoptions li:hover {
  background: #ed2f59;
}

.menuoptions a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 1rem;
}

.menuoptions-visible {
  transform: translateX(0%);
}

.ouragents {
  background-color: white;
  border: 2px solid #9fccdc;
  height: 515px;
  margin: 1rem 0;
  width: 320px;
}

.ouragents .titles {
  font-size: 2rem;
  line-height: 1.9rem;
  margin: 1rem 0;
  text-align: center;
}

.ouragents .title1 {
  color: #9fccdc;
  transform: translateX(-2rem);
}

.ouragents .title2 {
  color: #1080a7;
  font-size: 2.3rem;
}

.ouragents .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.agent {
  background: #1080a7;
  border-radius: 0.4rem;
  border: 1px solid #1080a7;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
  width: 120px;
}

.agent .location {
  color: white;
  font-weight: bold;
  margin: 1rem;
  text-transform: uppercase;
}

.agent .phone {
  background: white;
  color: #1080a7;
  padding: 1rem;
  font-weight: bold;
}

.product {
  align-items: stretch;
  align-self: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 7px #a2a2a2;
  display: flex;
  height: 200px;
  margin: 2rem 2rem;
  width: 350px;
  overflow: hidden;
}

.product .product-image {
  object-fit: cover;
  width: 10rem;
}

.product .product-details {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product .product-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.product .product-title::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - 1.6) * 0.5em);
}

.product .product-price {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.product .btn-primary {
  margin-top: 1rem;
}

.productv2 {
  background: #fff;
  border-bottom: solid 2px #a5a5a5;
  text-align: center;
  position: relative;
  width: 8rem;
  border-bottom: 1px solid #1080a7;
}

.productv2 .img-container {
  height: 9rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.productv2 .image {
  transition: transform 200ms;
  height: auto;
  width: 100%;
}

.productv2 .image:hover {
  transform: scale(1.1) rotate(5deg);
}

.productv2 .description {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productv2 .details-row {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
}

.productv2 .weight {
  font-style: italic;
}

.productv2 .price {
  font-weight: bold;
  color: #1080a7;
}

.productv2 .actions {
  align-items: center;
  background: rgba(50, 50, 50, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100%;
}

.productv2 .actions .btn {
  border-radius: 0.6rem;
}

.productv2 .actions img {
  width: 1rem;
}

.productv2 .actions .actions-close {
  background: red;
  color: white;
  text-decoration: none;
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: absolute;
  top: 1rem;
  left: 1rem;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media img {
  width: 2rem;
  height: 2rem;
}

.social-media .sm-img-container {
  transition: transform 100ms ease-in;
}

.social-media .sm-img-container:hover {
  transform: scale(1.3);
}

.whatsappicon {
  /* for desktop */
}

.whatsappicon .whatsapp_float {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px #444;
}

.whatsappicon .whatsapp-icon {
  width: 20px;
  height: 20px;
}

.cardflipper {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.cardflipper .flipper {
  position: absolute;
  z-index: 100;
}

.cardflipper .card-container {
  width: 200px;
  height: 300px;
}

.cardflipper .card {
  width: 100%;
  height: 100%;
  transition: transform 400ms ease;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardflipper .flipped .card {
  transform: rotateY(180deg);
}

.cardflipper .flipped .front {
  opacity: 0;
}

.cardflipper .card figure {
  height: 100%;
  width: 100%;
  position: absolute;
}

.cardflipper .card .front {
  background: lightblue;
  transition: opacity 100ms 100ms;
}

.cardflipper .card .back {
  background: yellow;
  transform: rotateY(180deg);
  height: 80%;
}

.about {
  position: relative;
  margin-bottom: 2rem;
}

.about img {
  margin-bottom: 1rem;
  width: 100%;
}

.about .titles {
  color: #1080a7;
  position: absolute;
  text-align: right;
  right: 2rem;
  top: 1rem;
}

.about .title1 {
  font-size: 2.5rem;
}

.about .title2 {
  font-size: 3.5rem;
}

.about .content {
  background-color: #1080a7;
  color: white;
  padding: 0.01rem 0;
  text-align: justify;
}

.about .content h2,
.about .content p {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .about .title1 {
    font-size: 4.5rem;
  }
  .about .title2 {
    font-size: 5.5rem;
  }
}

.admin .items {
  margin: 1rem 0;
}

.admin h1 {
  font-size: 2rem;
  text-align: center;
}

.admin ul {
  margin-left: 1rem !important;
  display: flex;
}

.admin ul li {
  margin: 0 1rem;
}

.adminproducts {
  color: #1080a7;
  position: relative;
}

.adminproducts .tools {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: calc(100% - 4rem);
}

.adminproducts .tools input {
  border: 1px solid #1080a7;
  width: 60%;
}

.adminproducts .btn-new-product {
  height: 35px;
  width: 35px;
}

.adminproducts .products {
  height: 70vh;
  overflow: scroll;
}

.adminproducts .adminproductsitem {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 0.3rem;
  width: calc(100% - 2rem);
}

.adminproducts .adminproductsitem .index {
  display: flex;
  align-items: center;
  width: 45px;
}

.adminproducts .adminproductsitem .title {
  width: 110px;
}

.adminproducts .adminproductsitem .weight {
  width: 40px;
}

.adminproducts .adminproductsitem .price {
  text-align: right;
  width: 45px;
}

.adminproducts .adminproductsitem img {
  height: 100%;
}

.adminproducts .adminproductsitem .options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.adminproducts .adminproductsitem .option-item img {
  height: 0.7cm;
}

.adminproducts .productUploader {
  background: white;
  box-shadow: 3px 3px 8px #052632;
  display: display;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.adminproducts .productUploader h1 {
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}

.adminproducts .productUploader form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.adminproducts .productUploader input,
.adminproducts .productUploader textarea {
  border: 1px solid #1080a7;
  margin: 0.5rem 0;
  height: 1.5rem;
  width: 80%;
}

.adminproducts .productUploader input::placeholder,
.adminproducts .productUploader textarea::placeholder {
  transform: translateX(1rem);
  color: #88c0d3;
}

.adminproducts .productUploader textarea {
  height: 100px !important;
}

.adminproducts .productUploader .row-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4rem);
}

.adminproducts .productUploader .image {
  align-items: center;
  align-self: flex-start;
  border: 2px solid #b7d9e5;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 80px;
}

.adminproducts .productUploader .image .image-add {
  width: 2.3rem;
  opacity: 0.5;
}

.adminproducts .productUploader .image .image-preview {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.adminproducts .productUploader .btn {
  padding: 1rem;
}

.adminproducts .productUploader input[name="image"] {
  display: none;
}

.channels {
  align-items: center;
  background-color: white;
  border: 2px solid #9fccdc;
  display: flex;
  height: 515px;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
}

.channels .title {
  font-size: 3rem;
  color: #9fccdc;
  margin: 1rem 0;
}

.channels .items {
  align-items: flex-start;
  background-color: #b7d9e5;
  color: #1080a7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  width: calc(100% - 4rem);
}

.channels .channel {
  align-items: center;
  display: flex;
  margin: 1.3rem 0;
  width: 100%;
}

.channels .channel-img {
  display: inline-block;
  height: 100%;
  margin: 0 1rem;
  transform: translateY(0.2rem);
  width: 1.5rem;
}

.contactus {
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-email {
  background-color: white;
  border: 2px solid #9fccdc;
  height: 515px;
  margin: 1rem 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-email .title {
  color: #9fccdc;
  font-size: 1.7rem;
  margin: 1rem 0;
  text-align: center;
}

.contact-email input,
.contact-email textarea {
  margin: 1rem;
  border: 1px solid #9fccdc;
  padding: 0.3rem;
  color: gray;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.form-footer {
  background: #9fccdc;
  padding: 1.4rem;
  text-align: center;
}

.form-footer a {
  color: white;
  text-decoration: none;
  background-color: #1080a7;
  padding: 0.3rem 2rem;
  border-radius: 0.4rem;
}

.homemain {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 200px auto;
}

.homemain .bannercarrouselmobile {
  grid-row: 1/2;
}

.homemain .stripe-logo {
  grid-row: 2;
  width: 100%;
  z-index: 1;
}

.homemain .stripe {
  background: #456694;
  background: linear-gradient(90deg, #243f52 0%, #243f52 14%, #5a97bd 21%, #243f52 28%, #243f52 62%, #5a97bd 70%, #243f52 76%, #243f52 100%);
  height: 10px;
  opacity: 0.9;
  width: 100%;
  z-index: 2;
}

.homemain .logoTiempo {
  background: #e6e7e8;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  width: 100%;
  z-index: 2;
}

.homemain .logoTiempo img {
  margin: 2rem 0;
}

.homemain .homePromoProducts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.homemain .contact-number {
  text-align: center;
  line-height: 0.5rem;
  margin-bottom: 2rem;
}

.homemain .contact-number img {
  height: 1.3rem;
  margin: 0 0.5rem;
  width: auto;
}

@media screen and (min-width: 765px) {
  .homemain {
    grid-template-rows: 400px 200px auto;
  }
}

.homeproducts {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.homeproducts .hp-actions {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: flex-end;
  font-size: 1rem;
}

.homeproducts .hp-actions-cart {
  display: flex;
  color: #ed2f59;
  margin-bottom: 0.5rem;
}

.homeproducts .hp-actions-contact {
  color: #1080a7;
}

.homeproducts .hp-actions-contact img {
  margin-right: 0.6rem;
  width: 1rem;
}

.homeproducts .hp-title {
  line-height: 2rem;
  align-self: center;
  margin-bottom: 1rem;
}

.homeproducts .hp-title-item1 {
  color: #a4cfde;
  font-size: 2rem;
}

.homeproducts .hp-title-item2 {
  color: #1080a7;
  font-size: 2.5rem;
}

.homeproducts .hp-footer {
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.homeproducts .hp-footer img {
  width: 1.3rem;
}

.homeproducts .hp-footer .carticon {
  display: inline-block;
  margin-right: 0.5rem;
}

.homeproducts .hp-footer-item {
  margin: 1rem 1rem;
}

.homeproducts .hp-footer-item1 {
  color: #1080a7;
  text-decoration: none;
}

.homeproducts .hp-footer-item2 {
  color: #ed2f59;
  text-decoration: none;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products > .title {
  color: #1080a7;
  font-size: 1.7rem;
  margin: 1rem 0;
  text-align: center;
}

.products .search {
  display: flex;
  justify-content: stretch;
  margin: 1rem 0;
  width: calc(100% - 4rem);
}

.products .search input {
  border: 1px solid #1080a7;
  display: flex;
  flex: 1;
}

.products .catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .products .search {
    width: 400px;
  }
}

.products .catalog {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.login,
.signup {
  text-align: center;
}

.login form,
.signup form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login h1,
.signup h1 {
  margin: 3rem 0;
}

.login input,
.signup input {
  text-align: center;
}

.login input[type="password"],
.signup input[type="password"] {
  letter-spacing: 2px;
}

.login input::placeholder,
.signup input::placeholder {
  text-align: center;
}

.login .errorMessage,
.signup .errorMessage {
  color: red;
  font-style: italic;
  margin: 3rem 0 0;
  width: 300px;
}

.login .animateError,
.signup .animateError {
  animation: animateError 600ms ease-in-out;
}

.login .divider,
.signup .divider {
  border-bottom: solid 1px #e3e3e3;
  width: 300px;
}

@keyframes animateError {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

html {
  font-size: calc((62.5 / 100) * 16);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

input {
  border: none;
  border-bottom: 1px solid #88c0d3;
  outline: none;
  padding: 0.3rem;
}

input:focus {
  background: #e7f2f6;
}
