.about {
  position: relative;
  img {
    margin-bottom: 1rem;
    width: 100%;
  }

  .titles {
    color: $color-primary;
    left: 3rem;
    line-height: 3rem;
    position: absolute;
    top: 20%;
  }

  .title1 {
    font-size: 2.5rem;
  }
  .title2 {
    font-size: 3.5rem;
  }

  .content {
    background-color: $color-primary;
    color: white;
    padding: 0.01rem 0;
    text-align: justify;

    h2,
    p {
      margin: 1rem;
    }
  }
}
