.about {
  position: relative;
  img {
    margin-bottom: 1rem;
    width: 100%;
  }

  .titles {
    color: $color-primary;
    position: absolute;
    text-align: right;
    right: 2rem;
    top: 1rem;
  }

  .title1 {
    font-size: 2.5rem;
  }
  .title2 {
    font-size: 3.5rem;
  }

  .content {
    background-color: $color-primary;
    color: white;
    padding: 0.01rem 0;
    text-align: justify;

    h2,
    p {
      margin: 1rem;
    }
  }

  //- - - - - - - - - - - - - - - - tablet 768px - - - - - - - - - - - - - - - - - -
  @media screen and (min-width: 768px) {
    .title1 {
      font-size: 4.5rem;
    }
    .title2 {
      font-size: 5.5rem;
    }
  }
  //- - - - - - - - - - - - - - - - laptop 1024 px - - - - - - - - - - - - - - - - -
  //- - - - - - - - - - - - - - - - widescreen 1440px  - - - - - - - - - - - - - - -
}
