.login {
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  label {
    display: block;
    margin: 1rem 0;
  }

  button {
    display: block;
    margin-top: 2rem;
  }

  .registrarse {
    color: $color-primary;
    margin: 1rem 0;
  }
}
