.login,
.signup {
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  input {
    text-align: center;
  }

  input[type="password"] {
    letter-spacing: 2px;
  }

  input::placeholder {
    text-align: center;
  }
}
