.adprepoo {
	position: relative;
	font-family: impact-reg;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	overflow: hidden;

	.imgprepoo {
		height: 100%;
		width: 100%;
	}

	// text 1
	.text1 {
		font-family: impact-reg;
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: white;

		.brillo {
			font-size: 10vw;
		}

		.suavidad {
			font-size: 11vw;
		}
		.salud {
			font-size: 12vw;
		}
	}

	// text2
	.text2 {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: white;
		font-size: 2rem;
		font-family: impact-reg;
		text-align: center;

		.prueba {
			opacity: 0;
			color: yellow;
			font-size: 8vw;
		}

		.prepoo {
			opacity: 0;
			font-size: 14vw;
			color: yellow;
		}

		.logo {
			bottom: 1rem;
			right: 1rem;
			width: 29vw;
		}
	}
}
