.cardflipper {
  height: auto;
  width: 320px;
  @extend .flex-center-all;
  position: relative;
  margin: 1rem;

  .flipper {
    position: absolute;
    z-index: 100;
    bottom: 7px;
    transform: translateX(9px);
    transition: transform 100ms ease;
  }

  .flipper:hover {
    transform: scale(1.1) rotate(-9deg) translateX(9px);
  }

  .card-container {
    height: 189px;
    width: 380px;
  }

  .card {
    transition: transform 400ms ease;
    transform-style: preserve-3d;
    @extend .flex-center-all;
    position: relative;
    height: 100%;
  }

  .flipped .card {
    transform: rotateY(180deg);
  }

  .hidden {
    opacity: 0;
  }

  .card figure {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .card .front {
    transition: opacity 100ms 100ms;
    @extend .flex-center-all;
  }
  .card .back {
    height: 100%;
    transform: rotateY(180deg);
  }
}
