.catalogitem {
  border: 2px solid #ffffff;
  background: tint(gray, 95%);
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  transition: border 200ms, transform 200ms ease-in-out;
  width: 300px;

  &:hover {
    transform: scale(1.06);
  }

  .image {
    box-shadow: 1px 1px 5px gray;
    height: 180px;
    position: absolute;
    width: 150px;
    z-index: 0;
  }

  .index {
    background: #444444;
    color: white;
    font-size: 0.8rem;
    left: 0;
    padding: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    width: 60px;
  }

  //   details
  .details {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    justify-self: flex-end;
    margin-bottom: 0.3rem;
    text-align: right;
    width: 150px;
    z-index: 1;

    .info {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      justify-content: space-between;
      height: 110px;

      > .info-title {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        // margin-bottom: 0.3rem;
        max-height: 35px;
        overflow: hidden;
      }

      > .info-weight {
        color: $color-primary;
        margin-bottom: 1rem;
        margin-bottom: auto;
      }

      > .info-description {
        font-size: 0.8rem;
        height: 50px;
        line-height: 0.8rem;
        overflow: hidden;

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }

    > .price {
      font-weight: bold;
      font-size: 1.3rem;
      color: #888;
    }

    > .btn-add-cart {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}
