.modal-overlay {
  background: rgba(134, 202, 245, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: 400ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .modal-container {
    box-shadow: 1px 1px 5px gray;
    background: white;
    min-height: 250px;
    width: 300px;
    @extend .flex-center-all;
    flex-direction: column;

    .header {
      @extend .flex-center-all;
      background: white;
      border-radius: 50%;

      border: 6px solid lightskyblue;
      color: red;
      font-size: 2rem;
      font-weight: bold;
      height: 20px;
      line-height: 2rem;
      padding: 1.5rem;
      position: absolute;
      text-align: center;
      top: 0;
      align-self: center;
      transform: translate(0, -50%);
      width: 20px;
    }

    .title {
      color: red;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .message {
      text-align: center;
      color: gray;
    }

    .buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: red;
      @extend .flex-center-all;
    }

    .btn-close {
      border: none;
      background: red;
      color: white;
      padding: 0.7rem;
      font-weight: bold;
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
    }

    .btn-close:hover {
      background: darken(red, 10%);
    }
  }
  &.hidden {
    animation: hideModal 400ms ease-in-out;
  }
}

@keyframes hideModal {
  25% {
    top: 51%;
    opacity: 1;
  }
  40% {
    top: 50%;
    opacity: 1;
  }

  60% {
    top: 48%;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 0;
  }
}
