.social-media {
  img {
    height: 100%;
    width: 100%;
  }

  .sm-img-container {
    display: inline-block;
    transition: transform 100ms ease-in;
    margin: 0 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .sm-img-container:hover {
    transform: scale(1.3);
  }
}
